*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  background-color: #1d1d1d;
  height: 100vh;
}

main {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five"
    "six";
  padding: 2rem;
  width: 100%;
  height: 50vh;
}

@media only screen and (min-width: 1000px) {
  main {
    display: grid;
    gap: 1rem;
    grid-template-areas:
      "one two three three four"
      "five five three three six";
    grid-template-columns: repeat(5, minmax(0, 1fr));
    padding: 2rem;
  }
}

.benefit-card {
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.vps {
  grid-area: one;
  background-color: #569bf5;
}
.security {
  grid-area: two;
  background-color: #ed737b;
}
.products {
  grid-area: three;
  background-color: #5eceba;
}
.pro-user {
  grid-area: four;
  background-color: #f4c9a0;
}
.payment-methods {
  grid-area: five;
  background-color: #f8d77a;
}
.domains {
  grid-area: six;
  background-color: #815dee;
}

/* blue: 569BF5
red: ED737B
green: 5ECEBA
beige: F4C9A0
yellow: F8D77A
purple: 815DEE */
