body {
  display: flex;
  align-items: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  background-color: #1d1d1d;
}

main {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "vps"
    "security"
    "products"
    "pro"
    "payment"
    "domains";
    grid-auto-rows: 1fr;
  padding: 2rem;
  width: 100%;
}

@media only screen and (min-width: 750px) {
  
    main {
        grid-template-areas:
        "vps products"
         "pro products"
        "domains domains"
        "payment security";
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }


@media only screen and (min-width: 1200px) {
  body {
    height: 100vh;
  }

  main {
    display: grid;
    gap: 1rem;
    grid-template-areas:
      "vps security products products pro"
      "payment payment products products domains";
    grid-template-columns: repeat(5, minmax(0, 1fr));
    padding: 2rem;
    height: 50vh;
  }
}

@media only screen and (min-width: 2000px) {
    body {
      height: 100vh;
    }
  
    main {
      grid-template-areas:
        "vps security products pro payment domains";
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
  }


.benefit-card {
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.vps {
  grid-area: vps;
  background-color: #569bf5;
}
.security {
  grid-area: security;
  background-color: #ed737b;
}
.products {
  grid-area: products;
  background-color: #5eceba;
}
.pro-user {
  grid-area: pro;
  background-color: #f4c9a0;
}
.payment-methods {
  grid-area: payment;
  background-color: #f8d77a;
}
.domains {
  grid-area: domains;
  background-color: #815dee;
}
